@import "src/assets/_vars";

.r-modal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--body);
  border-radius: 12px 12px 0 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.2s,
    transform 0.2s,
    visibility 0.01s 0.2s;
  z-index: 1000;

  @media screen and (width >= $sm) {
    top: 10%;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%) scale(0.95);
    max-width: 480px;
    border-radius: 12px;
  }
}

.r-modal._visible {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.2s,
    transform 0.2s;
  pointer-events: all;

  @media screen and (width >= $sm) {
    transform: translateX(-50%) scale(1);
  }
}
