@import "./_vars";

:root {
  overflow: hidden;
  // base colors
  --rb-neutral-50: #f8fafc;
  --rb-neutral-100: #f1f5f9;
  --rb-neutral-200: #e2e8f0;
  --rb-neutral-300: #cbd5e1;
  --rb-neutral-400: #94a3b8;
  --rb-neutral-500: #64748b;
  --rb-neutral-600: #475569;
  --rb-neutral-700: #334155;
  --rb-neutral-800: #1e293b;
  --rb-neutral-900: #0f172a;
  --rb-neutral-950: #020617;
  --rb-primary-50: #fff7ed;
  --rb-primary-100: #ffedd5;
  --rb-primary-200: #fed7aa;
  --rb-primary-300: #fdba74;
  --rb-primary-400: #fb923c;
  --rb-primary-500: #f97316;
  --rb-primary-600: #ea580c;
  --rb-primary-700: #c2410c;
  --rb-primary-800: #9a3412;
  --rb-primary-900: #7c2d12;
  --rb-primary-950: #27130d;
  --rb-secondary-50: #eff6ff;
  --rb-secondary-100: #dbeafe;
  --rb-secondary-200: #bfdbfe;
  --rb-secondary-300: #93c5fd;
  --rb-secondary-400: #60a5fa;
  --rb-secondary-500: #3b82f6;
  --rb-secondary-600: #2563eb;
  --rb-secondary-700: #1d4ed8;
  --rb-secondary-800: #1e40af;
  --rb-secondary-900: #1e3a8a;
  --rb-secondary-950: #172554;
  --rb-body-50: #ffffff;
  --rb-body-950: #00020a;
}

body {
  --header-height: 60px;
  position: relative;
  padding: 0;
  margin: 0;
  accent-color: var(--r-primary-600, #ea580c);
  box-sizing: border-box;
  background-color: var(--r-body);
  color: var(--r-neutral-950);
  height: 100vh;
  overflow: hidden auto;
  scroll-padding-top: calc(var(--header-height) + 20px);
  scrollbar-color: var(--r-neutral-400) var(--r-neutral-200);
  white-space: pre;

  @media screen and (width < $sm) {
    scroll-padding-top: calc(var(--header-height) + 60px);
  }

  @media screen and (width > $lg) {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }
}

svg {
  display: block;
}

.body-mobile-lock {
  @media screen and (width < $sm) {
    overflow: hidden;
  }
}

.body-tablet-lock {
  @media screen and (width < $md) {
    overflow: hidden;
  }
}

.body-lock {
  overflow: hidden;
}

.theme-light {
  color-scheme: light;
  --r-body: var(--rb-body-50);
  --r-neutral-50: var(--rb-neutral-50, #f8fafc);
  --r-neutral-100: var(--rb-neutral-100, #f1f5f9);
  --r-neutral-200: var(--rb-neutral-200, #e2e8f0);
  --r-neutral-300: var(--rb-neutral-300, #cbd5e1);
  --r-neutral-400: var(--rb-neutral-400, #94a3b8);
  --r-neutral-500: var(--rb-neutral-500, #64748b);
  --r-neutral-600: var(--rb-neutral-600, #475569);
  --r-neutral-700: var(--rb-neutral-700, #334155);
  --r-neutral-800: var(--rb-neutral-800, #1e293b);
  --r-neutral-900: var(--rb-neutral-900, #0f172a);
  --r-neutral-950: var(--rb-neutral-950, #020617);
  --r-primary-50: var(--rb-primary-50, #fff7ed);
  --r-primary-100: var(--rb-primary-100, #ffedd5);
  --r-primary-200: var(--rb-primary-200, #fed7aa);
  --r-primary-300: var(--rb-primary-300, #fdba74);
  --r-primary-400: var(--rb-primary-400, #fb923c);
  --r-primary-500: var(--rb-primary-500, #f97316);
  --r-primary-600: var(--rb-primary-600, #ea580c);
  --r-primary-700: var(--rb-primary-700, #c2410c);
  --r-primary-800: var(--rb-primary-800, #9a3412);
  --r-primary-900: var(--rb-primary-900, #7c2d12);
  --r-primary-950: var(--rb-primary-950, #27130d);
  --r-secondary-50: var(--rb-secondary-50, #eff6ff);
  --r-secondary-100: var(--rb-secondary-100, #dbeafe);
  --r-secondary-200: var(--rb-secondary-200, #bfdbfe);
  --r-secondary-300: var(--rb-secondary-300, #93c5fd);
  --r-secondary-400: var(--rb-secondary-400, #60a5fa);
  --r-secondary-500: var(--rb-secondary-500, #3b82f6);
  --r-secondary-600: var(--rb-secondary-600, #2563eb);
  --r-secondary-700: var(--rb-secondary-700, #1d4ed8);
  --r-secondary-800: var(--rb-secondary-800, #1e40af);
  --r-secondary-900: var(--rb-secondary-900, #1e3a8a);
  --r-secondary-950: var(--rb-secondary-950, #172554);
  --r-success: #15803d;
  --r-note: #0e7490;
  --r-tip: #047857;
  --r-important: #a21caf;
  --r-warning: #b45309;
  --r-caution: #b91c1c;
  --r-link: var(--r-secondary-600);
  --r-link-hovered: var(--r-secondary-800);
  --r-link-active: var(--r-primary-700);

  /* SHIKI */
  --r-cl-1: #f9826c;
  --r-cl-2: var(--r-neutral-100);
  --r-cl-3: #e1e4e8;
  --r-cl-4: #2f363d;
  --r-cl-5: #959da5;
  --r-cl-6: #2188ff;
  --r-cl-7: #dbedff;
  --r-cl-8: #005cc5;
  --r-cl-9: #586069;
  --r-cl-10: #6a737d;
  --r-cl-11: #fafbfc;
  --r-cl-12: #159739;
  --r-cl-13: #138934;
  --r-cl-14: #1b1f23;
  --r-cl-15: #d1d5da;
  --r-cl-16: #34d05822;
  --r-cl-17: #d73a4922;
  --r-cl-18: #ffdf5d;
  --r-cl-19: #ffdf5d66;
  --r-cl-20: #28a74525;
  --r-cl-21: #d1d5da11;
  --r-cl-22: #24292e;
  --r-cl-23: #0366d611;
  --r-cl-24: #f6f8fa;
  --r-cl-25: #0366d625;
  --r-cl-26: #34d05840;
  --r-cl-27: #34d05800;
  --r-cl-28: #ffd33d33;
  --r-cl-29: #24943e99;
  --r-cl-30: #24943e50;
  --r-cl-31: #be5007;
  --r-cl-32: #5a32a3;
  --r-cl-33: #044289;
  --r-cl-34: #cb2431;
  --r-cl-35: #28a745;
  --r-cl-36: #cc2536;
  --r-cl-37: #d7dbe0;
  --r-cl-38: #eff2f6;
  --r-cl-39: #1b1f234d;
  --r-cl-40: #f9c513;
  --r-cl-41: #444d56;
  --r-cl-42: #e2e5e9;
  --r-cl-43: #cce5ff;
  --r-cl-44: #ebf0f4;
  --r-cl-45: #e8eaed;
  --r-cl-46: #6a737d33;
  --r-cl-47: #959da588;
  --r-cl-48: #959da533;
  --r-cl-49: #959da544;
  --r-cl-50: #0366d6;
  --r-cl-51: #3192aa;
  --r-cl-52: #22863a;
  --r-cl-53: #b08800;
  --r-cl-54: #1b7c83;
  --r-cl-55: #dbab09;
  --r-cl-56: #6f42c1;
  --r-cl-57: #b31d28;
  --r-cl-58: #032f62;
  --r-cl-59: #b31d28;
  --r-cl-60: #ffeef0;
  --r-cl-61: #f0fff4;
  --r-cl-62: #ffebda;
}

.theme-dark {
  color-scheme: dark;
  --r-body: var(--rb-body-950);
  --r-neutral-50: var(--rb-neutral-950, #020617);
  --r-neutral-100: var(--rb-neutral-900, #0f172a);
  --r-neutral-200: var(--rb-neutral-800, #1e293b);
  --r-neutral-300: var(--rb-neutral-700, #334155);
  --r-neutral-400: var(--rb-neutral-600, #475569);
  --r-neutral-500: var(--rb-neutral-500, #64748b);
  --r-neutral-600: var(--rb-neutral-400, #94a3b8);
  --r-neutral-700: var(--rb-neutral-300, #cbd5e1);
  --r-neutral-800: var(--rb-neutral-200, #e2e8f0);
  --r-neutral-900: var(--rb-neutral-100, #f1f5f9);
  --r-neutral-950: var(--rb-neutral-50, #f8fafc);
  --r-primary-50: var(--rb-primary-950, #27130d);
  --r-primary-100: var(--rb-primary-900, #7c2d12);
  --r-primary-200: var(--rb-primary-800, #9a3412);
  --r-primary-300: var(--rb-primary-700, #c2410c);
  --r-primary-400: var(--rb-primary-600, #ea580c);
  --r-primary-500: var(--rb-primary-500, #f97316);
  --r-primary-600: var(--rb-primary-400, #fb923c);
  --r-primary-700: var(--rb-primary-300, #fdba74);
  --r-primary-800: var(--rb-primary-200, #fed7aa);
  --r-primary-900: var(--rb-primary-100, #ffedd5);
  --r-primary-950: var(--rb-primary-50, #fff7ed);
  --r-secondary-50: var(--rb-secondary-950, #172554);
  --r-secondary-100: var(--rb-secondary-900, #1e3a8a);
  --r-secondary-200: var(--rb-secondary-800, #1e40af);
  --r-secondary-300: var(--rb-secondary-700, #1d4ed8);
  --r-secondary-400: var(--rb-secondary-600, #2563eb);
  --r-secondary-500: var(--rb-secondary-500, #3b82f6);
  --r-secondary-600: var(--rb-secondary-400, #60a5fa);
  --r-secondary-700: var(--rb-secondary-300, #93c5fd);
  --r-secondary-800: var(--rb-secondary-200, #bfdbfe);
  --r-secondary-900: var(--rb-secondary-100, #dbeafe);
  --r-secondary-950: var(--rb-secondary-50, #eff6ff);
  --r-success: #86efac;
  --r-note: #22d3ee;
  --r-tip: #34d399;
  --r-important: #e879f9;
  --r-warning: #fbbf24;
  --r-caution: #f87171;
  --r-link: var(--r-secondary-500);
  --r-link-hovered: var(--r-secondary-800);
  --r-link-active: var(--r-primary-700);

  /* SHIKI */
  --r-cl-1: #f9826c;
  --r-cl-2: var(--r-neutral-100);
  --r-cl-3: #444d56;
  --r-cl-4: #e1e4e8;
  --r-cl-5: #959da5;
  --r-cl-6: #0366d6;
  --r-cl-7: #1d2d3e;
  --r-cl-8: #79b8ff;
  --r-cl-9: #d1d5da;
  --r-cl-10: #9ba3ac;
  --r-cl-11: #24292e;
  --r-cl-12: #176f2c;
  --r-cl-13: #22863a;
  --r-cl-14: #fff;
  --r-cl-15: #586069;
  --r-cl-16: #28a74530;
  --r-cl-17: #d73a4930;
  --r-cl-18: #ffd33d44;
  --r-cl-19: #ffd33d22;
  --r-cl-20: #2b6a3033;
  --r-cl-21: #58606915;
  --r-cl-22: #e1e4e8;
  --r-cl-23: #3392ff22;
  --r-cl-24: #2f363d;
  --r-cl-25: #3392ff44;
  --r-cl-26: #17e5e650;
  --r-cl-27: #17e5e600;
  --r-cl-28: #c6902625;
  --r-cl-29: #17e5e699;
  --r-cl-30: #17e5e666;
  --r-cl-31: #ffab70;
  --r-cl-32: #b392f0;
  --r-cl-33: #c8e1ff;
  --r-cl-34: #f97583;
  --r-cl-35: #34d058;
  --r-cl-36: #f97583;
  --r-cl-37: #444d56;
  --r-cl-38: #2f363d;
  --r-cl-39: #444d56;
  --r-cl-40: #ffea7f;
  --r-cl-41: #d1d5da;
  --r-cl-42: #39414a;
  --r-cl-43: #044289;
  --r-cl-44: #282e34;
  --r-cl-45: #282e34;
  --r-cl-47: #6a737d88;
  --r-cl-48: #6a737d33;
  --r-cl-49: #6a737d44;
  --r-cl-50: #79b8ff;
  --r-cl-51: #56d4dd;
  --r-cl-52: #85e89d;
  --r-cl-53: #ffea7f;
  --r-cl-54: #39c5cf;
  --r-cl-55: #ffea7f;
  --r-cl-56: #b392f0;
  --r-cl-57: #fdaeba;
  --r-cl-58: #dbedff;
  --r-cl-59: #fdaeb7;
  --r-cl-60: #86181d;
  --r-cl-61: #144620;
  --r-cl-62: #c24e00;
}
