.copy-button {
  padding: 8px;
  background: none;
  color: var(--neutral700);
  background-color: var(--neutral100);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  transition:
    color 0.2s,
    background-color 0.2s;
}

.copy-button-success {
  opacity: 0;
  transform: scale(0.7);

  transition: 0.2s;
}

.copy-button-base {
  transition: 0.2s;
}

.copy-button:hover {
  color: var(--neutral950);
  background-color: var(--neutral200);
}

.copy-button:active,
.copy-button._active {
  color: var(--success);

  .copy-button-success {
    opacity: 1;
    transform: scale(1);
  }

  .copy-button-base {
    opacity: 0;
    transform: scale(0.7);
  }
}
