@import "../../../assets/vars";

.r-search-btn {
  position: relative;
  border-radius: 6px;
  background-color: var(--neutral100);
  color: var(--neutral600);
  padding: 8px 20px;
  border: 1px solid var(--neutral200);
  width: 100%;
  text-align: left;
  cursor: text;

  @media screen and (width >= $sm) {
    width: 220px;
    padding: 8px 96px 8px 20px;
  }

  &:hover {
    border-color: var(--neutral600);

    & .r-search-kbd {
      color: var(--neutral950);
    }
  }
}

.r-search-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.r-search-kbd {
  display: none;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (width >= $sm) {
    display: flex;
  }
}

.r-search-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--body);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s,
    visibility 0.3s 0.3s;
  z-index: 100;
}

.r-search-backdrop._visible {
  opacity: 0.9;
  visibility: visible;
  transition: opacity 0.3s;
  pointer-events: all;
}

.r-search-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--neutral100);
  border-radius: 12px 12px 0 0;
  border: 1px solid var(--neutral200);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s,
    transform 0.3s,
    visibility 0.3s 0.3s;
  z-index: 1000;

  @media screen and (width >= $sm) {
    top: 10%;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%) scale(0.95);
    max-width: 480px;
    border-radius: 12px;
  }
}

.r-search-popup._visible {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s,
    transform 0.3s;
  pointer-events: all;

  @media screen and (width >= $sm) {
    transform: translateX(-50%) scale(1);
  }
}

.r-search-popup-header {
  position: relative;
  border-bottom: 1px solid var(--neutral200);
}

.r-search-input {
  border-radius: 12px 12px 0 0;
  background-color: var(--neutral50);
  padding: 16px 20px;
  border: none;
  border-bottom: 2px solid var(--neutral300);
  width: 100%;

  @media screen and (width >= $sm) {
    padding: 16px 72px 16px 20px;
  }

  &:hover {
    border-bottom-color: var(--primary800);
  }

  &:focus {
    outline: none;
    border-bottom-color: var(--primary600);
  }

  &::placeholder {
    color: var(--neutral500);
  }
}

.r-search-popup-kbd {
  color: var(--neutral600);
  right: 20px;
}

.r-search-results {
  padding: 12px 20px 20px;
  max-height: min(400px, calc(100vh - 200px));
  overflow-y: auto;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral200) transparent;
  margin: 0;
}

.r-search-item {
  display: block;
  text-decoration: none;
  color: var(--neutral700);
  padding: 12px 16px;
  border: 1px solid var(--neutral500);
  border-radius: 8px;
  width: 100%;
  margin-top: 8px;

  &:hover {
    color: var(--neutral950);
    border-color: var(--primary700);
  }
}

.r-search-item-title {
  margin: 0;
}

.r-search-item-desc {
  font-size: 14px;
  color: var(--neutral600);
  margin: 12px 0 0;
}
