@import "src/assets/_vars";

.r-search-btn {
  position: relative;
  border-radius: 6px;
  background-color: var(--r-neutral-100);
  color: var(--r-neutral-600);
  padding: 8px 20px;
  border: 1px solid var(--r-neutral-200);
  width: 100%;
  text-align: left;
  cursor: text;

  @media screen and (width >= $sm) {
    width: 220px;
    padding: 8px 96px 8px 20px;
  }

  &:hover {
    border-color: var(--r-neutral-600);

    & .r-search-kbd {
      color: var(--r-neutral-950);
    }
  }
}

.r-search-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.r-search-kbd {
  display: none;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (width >= $sm) {
    display: flex;
  }
}

.r-search-popup-header {
  position: relative;
  border-bottom: 1px solid var(--r-neutral-200);
}

.r-search-input {
  border-radius: 12px 12px 0 0;
  background-color: var(--r-neutral-50);
  padding: 16px 20px;
  border: none;
  border-bottom: 2px solid var(--r-neutral-300);
  width: 100%;
  font-size: 16px;

  @media screen and (width >= $sm) {
    padding: 16px 72px 16px 20px;
  }

  &:hover {
    border-bottom-color: var(--r-primary-800);
  }

  &:focus {
    outline: none;
    border-bottom-color: var(--r-primary-600);
  }

  &::placeholder {
    color: var(--r-neutral-500);
  }
}

.r-search-popup-kbd {
  color: var(--r-neutral-600);
  right: 20px;
}

.r-search-results {
  padding: 12px 8px 8px;
  max-height: min(400px, calc(100vh - 200px));
  overflow-y: auto;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--r-neutral-200) transparent;
  margin: 0;
}

.r-search-item {
  display: block;
  text-decoration: none;
  color: var(--r-neutral-700);
  padding: 8px 12px;
  border: 1px solid var(--r-neutral-100);
  border-radius: 6px;
  width: 100%;
  margin-top: 6px;

  &:hover,
  &:focus {
    color: var(--r-neutral-950);
    background-color: var(--r-neutral-50);
  }
}

.r-search-item-title {
  margin: 0;
}

.r-search-item-desc {
  font-size: 14px;
  color: var(--r-neutral-600);
  margin: 12px 0 0;
}
