@import "src/assets/_vars";

.r-docs-container {
  min-height: calc(100vh - var(--header-height));
  overflow-wrap: break-word;

  @media screen and (width >= $sm) {
    display: grid;
    justify-content: center;
    column-gap: 32px;
    grid-template-areas: "sidebar breadcrumbs" "sidebar contents" "sidebar content" "sidebar pagination";
    grid-template-columns: 1fr calc(100% - 248px);
    grid-template-rows: auto auto 1fr auto;
  }

  @media screen and (width >= $lg) {
    column-gap: 40px;
    grid-template-areas: "sidebar breadcrumbs contents" "sidebar content contents" "sidebar pagination contents";
    grid-template-columns: 1fr 640px 1fr;
    grid-template-rows: auto 1fr auto;
  }
}
