.intro-wrapper {
  overflow: hidden;
}

.intro {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (width >= 768px) {
    display: flex;
    gap: 60px;
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.intro-content {
  flex: 1;
}

.intro-title {
  position: relative;

  &::before {
    content: "#";
    position: absolute;
    left: -32px;
    color: var(--neutral300);
    pointer-events: none;
  }
}

.intro-bold {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    content: "**";
    position: absolute;
    top: -10px;
    color: var(--neutral300);
    pointer-events: none;
  }

  &::before {
    left: -14px;
  }

  &::after {
    right: -14px;
  }
}

.intro-italic {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    content: "_";
    position: absolute;
    color: var(--neutral300);
    pointer-events: none;
  }

  &::before {
    left: -16px;
  }

  &::after {
    right: -16px;
  }
}

.intro-logo {
  display: none;
  margin: -72px;

  @media screen and (width >= 768px) {
    display: block;
  }
}

.intro-logo-inner {
  animation: rotate 3s ease 1s forwards;
  transform-origin: center;
  opacity: 0;
}

@keyframes rotate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    transform: rotate(0);
  }
  70% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(1080deg);
    opacity: 1;
  }
}

.intro-logo-outer {
  animation: show 3s ease 1s forwards;
  transform-origin: center;
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    transform: rotate(0);
  }
  70% {
    transform: rotate(-1080deg);
  }
  100% {
    transform: rotate(-1080deg);
    opacity: 1;
  }
}

.intro-actions {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 106px;

  @media screen and (width >= 600px) {
    flex-direction: row;
    gap: 48px;
  }
}

.intro-get-started {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: 16px;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    color: var(--neutral300);
    pointer-events: none;
  }

  &::before {
    content: "<GetStarted>";
    top: -26px;
  }

  &::after {
    content: "</GetStarted>";
    bottom: -26px;
  }
}

.intro-get-started-link {
  line-height: 22px;
  display: block;
  text-decoration: none;
  background: var(--primary700);
  color: var(--neutral50);
  border-radius: 6px;
  padding: 8px 16px;

  &:hover {
    background: var(--primary800);
  }
}

.intro-cmd {
  position: relative;
  line-height: 22px;
  border-radius: 6px;
  padding: 8px 12px;
  background-color: var(--neutral50);
  border: 1px solid var(--neutral300);

  &::before,
  &::after {
    position: absolute;
    left: 0;
    color: var(--neutral300);
    pointer-events: none;
  }

  &::before {
    content: "```bash";
    top: -26px;
  }

  &::after {
    content: "```";
    bottom: -26px;
  }
}

.intro-cmd-tool {
  color: var(--r-cl-56);
}
