.r-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  backdrop-filter: blur(2px);
  transition:
    background 0.2s,
    opacity 0.2s,
    visibility 0.01s 0.2s;
  z-index: 100;
}

.r-backdrop._visible {
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  visibility: visible;
  transition:
    background 0.2s,
    opacity 0.1s;
  pointer-events: all;
}
