@import "../../assets/vars";

.r-pagination {
  grid-area: pagination;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 80px;
}

.r-pagination-item {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 14px;
  color: var(--neutral700);

  &:hover {
    color: var(--neutral900);
  }
}

.r-pagination-item._prev {
  padding-left: 32px;
}

.r-pagination-item._next {
  text-align: right;
  padding-right: 32px;
}

.r-pagination-text {
  display: block;
  line-height: 2;
}

.r-pagination-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--neutral950);
}

.r-pagination-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s;
  margin: -4px;
}

.r-pagination-icon._prev {
  left: 0;

  .r-pagination-item:hover & {
    transform: translate(-4px, -50%);

    @media screen and (width >= $lg) {
      transform: translate(-8px, -50%);
    }
  }
}

.r-pagination-icon._next {
  right: 0;

  .r-pagination-item:hover & {
    transform: translate(4px, -50%);

    @media screen and (width >= $lg) {
      transform: translate(8px, -50%);
    }
  }
}
