.r-code-span {
  font-family: var(--monospace-font, monospace, monospace);
  background-color: var(--r-neutral-100);
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 16px;
}

.r-code-span + .r-content-link-external {
  margin-left: -12px;
}
