.r-content-link {
  text-decoration: none;
  color: var(--link-base);

  &:hover {
    color: var(--link-base-hovered);
  }

  &:visited {
    color: var(--link-visited);
  }

  &:visited:hover {
    color: var(--link-visited-hovered);
  }

  &:active {
    color: var(--link-active);
  }
}

.r-content-link-external {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  vertical-align: text-top;
  margin-left: -2px;
  margin-right: 2px;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 3px;
    height: 3px;
    background-color: currentColor;
    border-radius: 0 0 0 4px;
  }
}
