@import "src/assets/_vars";

.r-sidebar {
  width: 220px;
  grid-area: sidebar;

  @media screen and (width < $sm) {
    position: fixed;
    width: 100%;
    top: var(--header-height);
    left: 0;
    background-color: var(--body);
    border-bottom: 1px solid var(--neutral200);
    z-index: 10;
    opacity: 0.98;
    padding: 0;
    overflow: auto;
  }
}

.r-sidebar-top-mock {
  position: absolute;
}

.r-sidebar:not(._opened) .r-sidebar-nav {
  @media screen and (width < $sm) {
    display: none;
  }
}

.r-sidebar._opened {
  @media screen and (width < $sm) {
    bottom: 0;
  }
}

.r-sidebar-drop {
  margin-top: -4px;
  padding-top: 4px;
}

.r-sidebar-sublist {
  position: relative;
  padding-top: 2px;

  &:hover::before {
    background-color: var(--primary800);
  }
}

.r-sidebar-sublist::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  right: 0;
  height: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--neutral200);
  z-index: 1;
  transition: background-color 0.3s;
}

.r-sidebar-nav {
  padding: 32px 4px 32px 2px;

  @media screen and (width < $sm) {
    padding: 12px;
  }

  @media screen and (width >= $sm) {
    position: sticky;
    top: var(--header-height);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--neutral200) transparent;
    scrollbar-gutter: stable;
    max-height: calc(100vh - var(--header-height));
  }
}

.r-sidebar-space {
  @media screen and (width < $sm) {
    display: block;
    height: 40px;
  }
}

.r-sidebar-btn {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  font-size: 14px;
  border: 0;
  padding: 12px;
  background: none;
  cursor: pointer;
  color: var(--neutral800);
  background-color: var(--body);
  z-index: 1;

  @media screen and (width >= $sm) {
    display: none;
  }
}

.r-sidebar-chevron {
  display: inline;
  margin-right: 6px;
  transition: transform 0.2s;
}

.r-sidebar._opened .r-sidebar-chevron {
  transform: rotate(90deg);
}

.r-sidebar-list {
  color: var(--neutral700);
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.r-sidebar-drop[open]::details-content {
  height: calc-size(auto);
}

.r-sidebar-drop::details-content {
  transition:
    height 0.3s,
    content-visibility 0.3s allow-discrete;
  height: 0;
  overflow: hidden;
}

.r-sidebar-sublist {
  margin-left: 12px;
}

.r-sidebar-sublist .r-sidebar-link {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 2px;
    height: calc(100% + 4px);
    background-color: var(--neutral200);
  }
}

.r-sidebar-li {
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.125rem;
}

.r-sidebar-li._droppable > a {
  padding-right: 32px;
}

.r-sidebar-li-d0 {
  margin-left: -8px;
}

.r-sidebar-p {
  margin: 0;
  padding: 6px 8px;
}

.r-sidebar-heading {
  color: var(--neutral900);
  font-weight: 600;
  margin-block-end: 4px;

  &:not(:first-child) {
    margin-block-start: 12px;
  }
}

.r-sidebar-link {
  display: block;
  padding: 6px 10px;
  color: inherit;
  border-bottom: 2px solid transparent;
  border-radius: 2px;
  text-decoration: none;
}

.r-sidebar-link._target {
  color: var(--primary950);
  background-color: var(--neutral50);
}

.r-sidebar-link:hover {
  color: var(--primary800);
  background-color: var(--neutral50);

  &::before {
    background-color: currentColor;
  }
}

.r-sidebar-link._active {
  color: var(--primary700);
  background-color: var(--neutral50);

  &::before {
    background-color: currentColor;
  }
}

.r-sidebar-drop-btn {
  position: absolute;
  right: 3px;
  top: 5px;
  border-radius: 4px;
  padding: 4px;
  background-color: var(--neutral200);
  list-style: none;
  cursor: pointer;

  &:hover {
    background-color: var(--neutral300);
    color: var(--primary500);
  }

  &::before {
    content: "";
    position: absolute;
    inset: -4px;
  }
}

.r-sidebar-drop-icon {
  display: block;
  transition: transform 0.3s;
}

.r-sidebar-drop[open] > .r-sidebar-drop-btn > .r-sidebar-drop-icon {
  transform: rotate(90deg);
}
