:root {
  --header-height: 60px;
  scroll-padding-top: calc(var(--header-height) + 20px);
  scroll-behavior: smooth;
}

@media screen and (width < 768px) {
  :root {
    scroll-padding-top: calc(var(--header-height) + 60px);
  }
}

body {
  padding: 0;
  margin: 0;
  accent-color: var(--primary600, #ea580c);
  box-sizing: border-box;
  background-color: var(--body);
  color: var(--neutral950);
}
*, *:before, *:after {
  box-sizing: inherit;
}
svg {
  display: block;
}

@media screen and (width < 768px) {
  .body-mobile-lock {
    overflow: hidden;
  }
}

.body-lock {
  overflow: hidden;
}

.theme-light {
  color-scheme: light;
  --body: #ffffff;
  --neutral50: #f8fafc;
  --neutral100: #f1f5f9;
  --neutral200: #e2e8f0;
  --neutral300: #cbd5e1;
  --neutral400: #94a3b8;
  --neutral500: #64748b;
  --neutral600: #475569;
  --neutral700: #334155;
  --neutral800: #1e293b;
  --neutral900: #0f172a;
  --neutral950: #020617;
  --primary50: #fff7ed;
  --primary100: #ffedd5;
  --primary200: #fed7aa;
  --primary300: #fdba74;
  --primary400: #fb923c;
  --primary500: #f97316;
  --primary600: #ea580c;
  --primary700: #c2410c;
  --primary800: #9a3412;
  --primary900: #7c2d12;
  --primary950: #431407;
  --link-base: #2563eb;
  --link-base-hovered: #1e3a8a;
  --link-visited: #7e22ce;
  --link-visited-hovered: #581c87;
}

.theme-dark {
  color-scheme: dark;
  --body: #00020a;
  --neutral50: #020617;
  --neutral100: #0f172a;
  --neutral200: #1e293b;
  --neutral300: #334155;
  --neutral400: #475569;
  --neutral500: #64748b;
  --neutral600: #94a3b8;
  --neutral700: #cbd5e1;
  --neutral800: #e2e8f0;
  --neutral900: #f1f5f9;
  --neutral950: #f8fafc;
  --primary50: #431407;
  --primary100: #7c2d12;
  --primary200: #9a3412;
  --primary300: #c2410c;
  --primary400: #ea580c;
  --primary500: #f97316;
  --primary600: #fb923c;
  --primary700: #fdba74;
  --primary800: #fed7aa;
  --primary900: #ffedd5;
  --primary950: #fff7ed;
  --link-base: #3b82f6;
  --link-base-hovered: #93c5fd;
  --link-visited: #c084fc;
  --link-visited-hovered: #e9d5ff;
}
