.r-main {
  display: grid;
  grid-template-areas: "sidebar" "contents" "content";
  grid-template-columns: 1fr;
  justify-content: center;
  column-gap: 20px;
}

@media screen and (width >= 768px) {
  .r-main {
    grid-template-areas: "sidebar contents" "sidebar content";
    grid-template-columns: auto 1fr;
  }  
}

@media screen and (width >= 1080px) {
  .r-main {
    grid-template-areas: "sidebar content contents";
    grid-template-columns: auto 520px auto;
  }  
}

@media screen and (width >= 1180px) {
  .r-main {
    grid-template-areas: "sidebar content contents";
    grid-template-columns: auto 672px auto;
  }  
}

.r-container {
  max-width: 1180px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}


/* HEADER */

.r-header {
  position: sticky;
  background-color: var(--body);
  top: 0;
  border-bottom: 1px solid var(--neutral300);
  height: 60px;
  z-index: 1000;
}
.r-header-body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.r-header-logo {
  display: block;
  margin-right: 24px;
}
.r-header-logo, .r-header-git {
  color: var(--neutral700);
}
.r-header-logo:hover, .r-header-git:hover {
  color: var(--neutral950);
}
.r-header-menu {
  display: flex;
  justify-content: flex-end;
  order: 1;

  @media screen and (width >= 768px) {
    flex: 1;
    order: unset;
  }
}
.r-header-responsive {
  display: none;
  justify-content: flex-end;
  flex: 1;
  gap: 24px;
  z-index: 1;

  @media screen and (width < 768px) {
    flex-direction: column-reverse;
    padding: 12px;
    background-color: var(--body);
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @media screen and (width >= 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.r-header-menu._opened .r-header-responsive {
  display: flex;
}
.r-header-social {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  @media screen and (width >= 768px) {
    flex: none;
    justify-content: unset;
  }
}
.r-header-burger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background: none;
  border: none;

  @media screen and (width >= 768px) {
    display: none;
  }
}
.r-burger-line {
  display: block;
  width: 20px;
  height: 1.5px;
  position: absolute;
  background-color: var(--neutral700);
  margin: auto;
  transition: transform .3s;
}
.r-burger-line._top {
  transform: translateY(-3px);
}
.r-header-menu._opened .r-burger-line._top {
  transform: translateY(0) rotate(45deg);
  margin-top: 0;
}
.r-burger-line._bottom {
  transform: translateY(3px);
}
.r-header-menu._opened .r-burger-line._bottom {
  transform: translateY(0) rotate(-45deg);
  margin-top: 0;
}
.r-header-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (width >= 768px) {
    flex-direction: row;
  }
}
.r-header-link {
  color: var(--neutral600);
  text-decoration: none;
  font-weight: 600;
}
.r-header-link:hover {
  color: var(--neutral950);
}


/* SEARCH */

.r-search-btn {
  position: relative;
  border-radius: 6px;
  background-color: var(--neutral100);
  color: var(--neutral600);
  padding: 8px 20px;
  border: 1px solid var(--neutral200);
  width: 100%;
  text-align: left;
  cursor: text;
}

.r-search-btn:hover {
  border-color: var(--neutral600);
}

.r-search-btn:hover .r-search-kbd {
  color: var(--neutral950);
}

@media screen and (width >= 768px) {
  .r-search-btn {
    max-width: 220px;
  }
}

.r-search-kbd {
  display: none;
  gap: 4px;
  font-size: 14px;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (width >= 768px) {
  .r-search-kbd {
    display: flex;
  }
}

.r-search-kbd:hover {
  color: var(--neutral950);
}

.r-search-key {
  background-color: var(--neutral200);
  font-size: 12px;
  border-radius: 4px;
  padding: 5px 8px;
  min-width: 24px;
  text-align: center;
}

.r-search-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--body);
  opacity: .9;
  z-index: 100;
}

.r-search-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--neutral100);
  border-radius: 12px 12px 0 0;
  border: 1px solid var(--neutral200);
  z-index: 1000;
}

@media screen and (width >= 768px) {
  .r-search-popup {
    top: 10%;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%);
    max-width: 480px;
    border-radius: 12px;
  }
}

.r-search-popup-header {
  position: relative;
  border-bottom: 1px solid var(--neutral200);
}

.r-search-input {
  border-radius: 12px 12px 0 0;
  background-color: var(--neutral50);
  padding: 16px 20px;
  border: none;
  border-bottom: 2px solid var(--neutral300);
  width: 100%;
}

.r-search-input::placeholder {
  color: var(--neutral500);
}

.r-search-input:hover {
  border-bottom-color: var(--primary800);
}

.r-search-input:focus {
  outline: none;
  border-bottom-color: var(--primary600);
}

@media screen and (width >= 768px) {
  .r-search-input {
    padding: 16px 72px 16px 20px;
  }
}

.r-search-popup-kbd {
  color: var(--neutral600);
  right: 20px;
}

.r-search-results {
  padding: 12px 20px 20px;
  max-height: min(400px, calc(100vh - 200px));
  overflow-y: auto;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral200) transparent;
  margin: 0;
}

.r-search-item {
  display: block;
  text-decoration: none;
  color: var(--neutral700);
  padding: 12px 16px;
  border: 1px solid var(--neutral500);
  border-radius: 8px;
  width: 100%;
  margin-top: 8px;
}

.r-search-item:hover {
  color: var(--neutral950);
  border-color: var(--primary700);
}

.r-search-item-title {
  margin: 0;
}

.r-search-item-desc {
  font-size: 14px;
  color: var(--neutral600);
  margin: 12px 0 0;
}


/* PARSER */

.r-content {
  padding: 0 12px 32px;
  grid-area: content;
}
.r-contents {
  grid-area: contents;
}
@media screen and (width >= 1080px) {
  .r-content {
    padding: 32px 12px;
  }
}
.r-contents-sticky {
  padding: 0 12px 32px;
  position: sticky;
  top: var(--header-height);
  display: flex;
  flex-direction: column;
  min-width: 220px;
  max-height: 320px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral200) transparent;
}
@media screen and (width >= 1080px) {
  .r-contents-sticky {
    max-height: calc(100vh - var(--header-height));
    scrollbar-gutter: stable;
  }
}
.r-contents-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 12px;
}
.r-contents-title {
  position: sticky;
  top: 0;
  background: var(--body);
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--neutral600);
  z-index: 1;
}
@media screen and (width < 1080px) {
  .r-contents-sticky:not(._opened) .r-contents-list {
    display: none;
  }
  .r-contents-title:hover {
    color: var(--neutral900);
  }
  .r-contents-sticky._opened .r-contents-title {
    color: var(--neutral800);
  }
}
.r-contents-chevron {
  display: inline;
  vertical-align: middle;
  margin-left: 8px;
  transition: transform .2s;
}
.r-contents-sticky._opened .r-contents-chevron {
  transform: rotate(180deg);
}
@media screen and (width >= 1080px) {
  .r-contents-title {
    color: var(--neutral900);
    cursor: auto;
  }
  .r-contents-chevron {
    display: none;
  }
}
.r-contents-link {
  position: relative;
  color: var(--neutral600);
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  font-size: 14px;
}
.r-contents-link::before, .r-contents-link::after {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 0;
  height: 0;
  width: 2px;
  background-color: var(--primary800);
}
.r-contents-link::before {
  background-color: var(--neutral200);
  height: calc(100% + 8px);
}
.r-contents-link._nested {
  padding-left: 28px;
}
.r-contents-link._active::after, .r-contents-link._active + .r-contents-link::after {
  transition: height .3s;
}
@media screen and (width >= 1080px) {
  .r-contents-link._active {
    color: var(--primary800);
  }
  .r-contents-link._passed::after {
    height: calc(100% + 8px);
  }
}
.r-contents-link:hover {
  color: var(--primary700);
}
.r-contents-link:hover::after {
  background-color: var(--primary700);
}


/* FOOTER */

.r-footer {
  border-top: 1px solid var(--neutral300);
  padding-top: 24px;
  padding-bottom: 24px;
}

.r-footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r-footer-additional {
  margin-top: 32px;
  justify-content: flex-end;
}

.r-copyright {
  color: var(--neutral800);
}

.r-powered {
  font-size: 14px;
  display: block;
  color: var(--neutral600);
}

.r-powered-link {
  font-weight: 600;
  text-decoration: none;
  color: var(--neutral950);
}

.r-powered-link:hover {
  color: var(--primary900);
}



/* Theme */

.r-theme {
  position: relative;
  display: flex;
  gap: 4px;
  width: 108px;
  height: 36px;
  padding: 2px;
  background-color: var(--neutral950);
  border-radius: 14px;
}

.r-theme::before {
  content: "";
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 2px;
  left: 2px;
  background-color: var(--body);
  border-radius: 12px;
  transition: left .2s;
}

.r-theme-btn {
  padding: 8px;
  background: none;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  color: var(--neutral50);
  fill: var(--neutral950);
  z-index: 1;
  transition: color .2s .1s, fill .2s;
}

.r-theme-btn:hover {
  color: var(--neutral50);
  fill: var(--neutral50);
}

.theme-dark:not(.theme-system) .r-theme::before {
  left: 2px;
}

.theme-dark:not(.theme-system) .r-theme-btn__dark {
  color: var(--neutral950);
  pointer-events: none;
}

.theme-system .r-theme::before {
  left: 38px;
}

.theme-system .r-theme-btn__system {
  color: var(--neutral950);
  pointer-events: none;
}

.theme-light:not(.theme-system) .r-theme::before {
  left: 74px;
}

.theme-light:not(.theme-system) .r-theme-btn__light {
  color: var(--neutral950);
  pointer-events: none;
}


/* SIDEBAR */

.r-sidebar {
  width: 220px;
  grid-area: sidebar;
}

.r-sidebar-nav {
  padding: 32px 12px;
  position: sticky;
  top: var(--header-height);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral200) transparent;
  scrollbar-gutter: stable;
}

@media screen and (width < 768px) {
  .r-sidebar-nav {
    padding: 12px;
  }
  .r-sidebar-space {
    display: block;
    height: 40px;
  }
  .r-sidebar {
    position: fixed;
    width: 100%;
    top: var(--header-height);
    background-color: var(--body);
    border-bottom: 1px solid var(--neutral200);
    z-index: 10;
    opacity: .98;
    padding: 0;
    overflow: auto;
  }
  .r-sidebar:not(._opened) .r-sidebar-nav {
    display: none;
  }
  .r-sidebar._opened {
    bottom: 0;
  }
}

@media screen and (width >= 768px) {
  .r-sidebar-nav {
    max-height: calc(100vh - var(--header-height));
  }
}

.r-sidebar-btn {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  font-size: 14px;
  border: 0;
  padding: 12px;
  background: none;
  cursor: pointer;
  color: var(--neutral800);
  background-color: var(--body);
  z-index: 1;
}

@media screen and (width >= 768px) {
  .r-sidebar-btn {
    display: none;
  }
}

.r-sidebar-chevron {
  display: inline;
  margin-right: 6px;
  transition: transform .2s;
}

.r-sidebar._opened .r-sidebar-chevron {
  transform: rotate(90deg);
}

.r-sidebar-list {
  list-style: none;
  border-left: 2px solid var(--neutral200);
  padding: 0;
  margin: 0;
}

.r-sidebar-link {
  display: block;
  padding: 4px 8px;
  color: var(--neutral800);
  margin-bottom: 6px;
  margin-left: -2px;
  border-left: 2px solid var(--neutral200);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-decoration: none;
}

.r-sidebar-link:hover {
  color: var(--primary800);
  border-color: var(--primary800);
  background-color: var(--neutral50);
}
