.r-blockquote {
  background-color: var(--r-neutral-100);
  padding: 12px;
  border-left: 6px solid var(--r-primary-800);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font: inherit;
  margin-inline: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
