@import "../../assets/vars";

.r-contents {
  grid-area: contents;
}

.r-contents-sticky {
  position: sticky;
  top: var(--header-height);
  width: 100%;

  @media screen and (width >= $sm) {
    padding: 0 12px;
  }

  @media screen and (width >= $lg) {
    width: 220px;
    max-height: calc(100vh - var(--header-height));
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--neutral200) transparent;
    scrollbar-gutter: stable;
  }
}

.r-contents-control {
  display: contents;
  visibility: hidden;

  @media screen and (width >= $lg) {
    pointer-events: none;
  }
}

.r-contents-control:checked + .r-contents-details {
  .r-contents-list {
    @media screen and (width < $lg) {
      visibility: visible;
      height: calc-size(auto);
    }
  }

  .r-contents-title {
    @media screen and (width < $lg) {
      color: var(--neutral800);
    }
  }

  .r-contents-chevron {
    transform: rotate(180deg);
  }
}

.r-contents-list {
  padding: 2px;
  overflow: hidden;
  transition:
    height 0.3s allow-discrete,
    visibility 0.3s allow-discrete;

  @media screen and (width < $lg) {
    visibility: hidden;
    height: 0;
  }
}

.r-contents-details {
  @media screen and (width < $lg) {
    background: var(--neutral100);
    border-radius: 4px;
  }
}

.r-contents-title {
  display: block;
  position: sticky;
  top: 0;
  cursor: pointer;
  margin-top: 20px;
  padding: 12px 12px 8px;
  color: var(--neutral600);
  z-index: 1;

  @media screen and (width < $lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (width >= $lg) {
    color: var(--neutral900);
    background: var(--body);
    font-weight: 600;
    margin-top: 0;
    padding: 32px 0 12px;
    cursor: auto;
  }

  &:hover {
    @media screen and (width < $lg) {
      color: var(--neutral900);
    }
  }
}

.r-contents-chevron {
  display: inline;
  vertical-align: middle;
  margin-left: 8px;
  transition: transform 0.2s;

  @media screen and (width >= $lg) {
    display: none;
  }
}

.r-contents-link {
  display: block;
  position: relative;
  color: var(--neutral600);
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.5;

  &.r-contents-link:hover {
    color: var(--primary800);
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
    height: calc(100% + 8px);
    border-style: solid;
    border-width: 0 2px 0 0;
    border-color: var(--primary800);
  }

  &::before {
    border-color: var(--neutral200);
  }

  &::after {
    mask-image: linear-gradient(135deg, #000 50%, transparent 50%);
    mask-repeat: no-repeat;
    mask-size: 200% 200%;
    mask-position: 100% 100%;
  }
}

.r-contents-link._nested {
  margin-left: 16px;

  &::before,
  &::after {
    left: -16px;
    width: 18px;
  }
}

.r-contents-link:not(._nested) + .r-contents-link._nested {
  &::before,
  &::after {
    border-top-width: 2px;
  }
}

.r-contents-link._nested + .r-contents-link:not(._nested) {
  &::before,
  &::after {
    width: 18px;
    border-width: 2px 0 0 2px;
  }
  &::after {
    mask-image: linear-gradient(45deg, transparent 50%, #000 50%);
    mask-position: 0 100% !important;
  }
}

.r-contents-link._nested + .r-contents-link._passed:not(._nested) {
  &::after {
    mask-position: 100% 0 !important;
  }
}

.r-contents-link._passed {
  @media screen and (width >= $lg) {
    color: var(--neutral800);
  }

  &::after {
    @media screen and (width >= $lg) {
      mask-position: 0 0 !important;
    }
  }
}

.r-contents-link._active {
  @media screen and (width >= $lg) {
    color: var(--primary800);
  }

  &::after,
  & + .r-contents-link::after {
    transition: mask-position 0.3s;
  }
}

.r-contents-actions {
  position: sticky;
  bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 20px;
  background-color: var(--body);
}

.r-contents-git {
  display: block;
  width: 100%;
  position: relative;
  color: var(--neutral600);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    color: var(--neutral900);
  }
}
